<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-pt-BR.min.js"> </script>

<p id="notice"><%= notice %></p>

<h1>Pessoas</h1>

<table data-toggle="table" data-pagination="true" data-search="true" class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Idade</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @pessoas.each do |pessoa| %>
      <tr>
        <td><%= pessoa.nome %></td>
        <td><%= pessoa.idade %></td>
        <td><%= link_to 'Show', pessoa , :class => 'btn btn-default btn-xs'%> <%= link_to 'Edit', edit_pessoa_path(pessoa) , :class => 'btn btn-default btn-xs'%> <%= link_to 'Destroy', pessoa, method: :delete, data: { confirm: 'Are you sure?' } , :class => 'btn btn-default btn-xs btn-danger'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pessoa', new_pessoa_path , :class => 'btn btn-primary'%>
